---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    <p class="pb-6">
      As a highly skilled technical manager with over nine years of industry
      experience, I possess a proven track record of successfully leading
      high-performing teams in designing, developing, and delivering innovative
      technical products and systems.
    </p>

    <p class="pb-6">
      Throughout my career, I have demonstrated expertise across various
      technologies, enabling me to create solutions for systems with varying
      levels of complexity. Additionally, I have a solid foundation in agile
      methodologies, project management, and influential people management.
    </p>

    <p>
      Building and nurturing relationships with cross-functional teams is one of
      my key strengths, allowing me to align engineering goals with overarching
      business objectives effectively. I am a proactive and forward-thinking
      leader, consistently striving to develop the skills of my team members and
      empowering them to reach their full potential.
    </p>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Ninety Percent of Everything, remote – Technical Manager"
      subtitle="SEPTEMBER 2020 – NOW"
    >
      <div>
        <ol class="list-decimal pb-6 pl-8">
          <li>
            Describing and explaining technical tasks which should be done
            inside the sprint for two cross-functional teams;
          </li>
          <li>
            Reviewing and accepting all technical tasks inside the sprint;
          </li>
          <li>Responsible for removing technical impediments;</li>
          <li>
            Providing agreed-on company-wide platform strategy and engineering
            processes, as well as architecture and technical decisions to the
            team;
          </li>
          <li>Creating technical documentation;</li>
          <li>Reviewing and estimation designs;</li>
          <li>
            Estimating and delivering features with a high degree of team
            coordination;
          </li>
          <li>Code review;</li>
          <li>Interviewing candidates;</li>
          <li>
            Creating web applications based on micro-frontend architecture
            concepts using TypeScript, React, Apollo GraphQL, Ramda, emotion,
            testing with Jest and React Testing Library;
          </li>
        </ol>
      </div>
    </TimeLineElement>
    <TimeLineElement
      title="Ninety Percent of Everything, Kyiv – Team lead & Senior Frontend Developer"
      subtitle="JANUARY 2020 – SEPTEMBER 2020"
    >
      <ol class="list-decimal pb-6 pl-8">
        <li>
          Set up all scrum activities for the cross-functional team (4 dev + PO
          + QA + designer);
        </li>
        <li>Reviewed and accepted all technical tasks inside the sprint;</li>
        <li>Reviewed and estimated designs;</li>
        <li>Code review;</li>
        <li>Migrated three products from Flow to TypeScript;</li>
        <li>
          Created web applications based on micro-frontend architecture concepts
          using TypeScript, React, Apollo GraphQL, and emotion, tested with Jest
        </li>
      </ol>
    </TimeLineElement>
    <TimeLineElement
      title="Ciklum - Ninety Percent of Everything, Kyiv – Senior Frontend Developer"
      subtitle="JANUARY 2019  – JANUARY 2020"
    >
      <p class="pb-6">
        Created web applications based on micro-frontend architecture concepts
        using TypeScript, Flow, React, Apollo GraphQL, emotion, tested with Jest
      </p>
    </TimeLineElement>
    <TimeLineElement
      title="Playtech, Kyiv – Frontend Team Lead"
      subtitle="MAY 2017 – JANUARY 2019"
    >
      <ol class="list-decimal pb-6 pl-8">
        <li>Lead dev team (5 devs);</li>
        <li>
          Implement development processes such as:
          <p>
            <ul class="list-disc">
              <li>Code review</li>
              <li>Code documentation;</li>
              <li>Technical design documentation;</li>
            </ul>
          </p>
          <li>
            Play one of the critical roles in the agile process during grooming,
            planning, and retrospective;
          </li>
          <li>
            Live games creation - UI and logic - for desktop, mobile, and
            tablets using TypeScript, ReactJS, MobX, RxJS, BEM, and less. Used
            Mobile First Approach.
          </li>
          <li class="pb-6">
            Created web applications based on micro-frontend architecture
            concepts using TypeScript, Flow, React, Apollo GraphQL, emotion,
            tested with Jest
          </li>
        </li>
      </ol>
    </TimeLineElement>

    <TimeLineElement
      title="Playtech, Kyiv – Frontend Engineer"
      subtitle="JANUARY 2016 – MAY 2017"
    >
      <p class="pb-6">
        Live games creation for web, design as SPA, using AngularJS 1.3,
        socket.io, Underscore.js, BEM and etc. Used Mobile First Approach.
      </p>
    </TimeLineElement>

    <TimeLineElement
      title="eFarmer, Kyiv – Frontend Engineer"
      subtitle="JULY 2015 – JANUARY 2016"
    >
      <p>
        Creation of web Application using AngularJS 1.3 framework, Angular
        Materials, Grunt, REST API, OpenLayers 3.
      </p>
    </TimeLineElement>

    <div class="mb-5 mt-10">
      <div class="text-3xl w-full font-bold">Education</div>
    </div>

    <div class="time-line-container grid gap-4 mb-10">
      <TimeLineElement
        title="National Aviation University, Kyiv – Bachelor &  Master degree"
        subtitle="SEPTEMBER 2011 – JUNE 2016"
      >
        Information Security Management
      </TimeLineElement>
      <TimeLineElement
        title="IT academy SoftServe, Kyiv"
        subtitle="FEBRUARY 2015 – MAY 2015"
      >
        Internship in IT academy, creating a product from scratch - admin panel
        application with REST architecture for entering in LNU university. Based
        on AngularJS framework, used Grunt, Underscore, D3.js, and Bootstrap for
        development.
      </TimeLineElement>
    </div>

    <div class="mb-5">
      <div class="text-3xl w-full font-bold">Certifications</div>
    </div>

    <ul class="list-disc mx-6 mb-10 grid gap-2">
      <li>
        <a
          href="https://drive.google.com/file/d/1-iMWclHTgMN_4eAC6808a_uNgwPq5Jqz/view"
          target="_blank">Advanced Management Training</a
        >
      </li>
      <li>
        <a
          href="https://learn.javascript.ru/courses/typescript-20180906/dariagorchylina/en/certificate.jpg"
          target="_blank">TypeScript</a
        >
      </li>
      <li>
        <a
          href="https://university.mongodb.com/course_completion/829a5c7adef24d6a8bff7170a51eb965"
          target="_blank">MongoDB for Node.js Developers</a
        >
      </li>
    </ul>

    <div class="mb-5">
      <div class="text-3xl w-full font-bold">Skills</div>
    </div>

    <ul class="list-disc md:columns-5 columns-2 mx-6">
      <li>System design</li>
      <li>Typescript</li>
      <li>Javascript</li>
      <li>ReactJS</li>
      <li>React Hooks</li>
      <li>GraphQL</li>
      <li>Apollo Client</li>
      <li>React Testing Library</li>
      <li>Ramda</li>
      <li>GIT</li>
      <li>NodeJS</li>
      <li>MongoDB</li>
    </ul>
  </div>
</BaseLayout>
