---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    <p class="pb-6">
      Dynamic and experienced Engineering Manager with over ten years in tech and over six years of proven SaaS/tech
      industry leadership, including three years of managing managers.
     </p>
    <p class="pb-6">
      Skilled in strategic planning,
      technical decision-making, delivering complex projects, fostering a culture of engineering excellence and
      cross-functional collaboration to drive organisational growth and alignment. Committed to building diverse and
      high-performing teams.
    </p>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Ninety Percent of Everything, remote – Tech Owner | Engineering manager"
      subtitle="SEPTEMBER 2020 – NOW"
    >
      <div>
        <p>
        An international B2B company with people from 31 countries. The product is the most prominent digital platform
          in the maritime industry. Stack: BE: micro-service architecture, GoLand, PostgreSQL, graphQL. Frontend:
          Micro Frontends, React, TypeScript, Apollo GraphQL
        </p>
        <ol class="list-decimal pb-6 pl-8">
          <li>
            Designed, launched and expanded 11 products specified in the technical area of the maritime industry
          </li>
          <li>
            Led four teams, including managers and software engineers (4 managers directly, 29 people indirectly)
          </li>
          <li>
            Effectively collaborated, influenced, and negotiated with peers and stakeholders on 20+ cross-stream
            projects.
          </li>
          <li>
            Engaged in technical discussions, asking critical questions to guide teams toward sound technical
            decisions.
          </li>
          <li>
            Empowered teams to take ownership of tough technical challenges, promoting a culture of autonomy and
            accountability.
          </li>
          <li>
            Hired and trained new managers and senior individual contributors, fostering their professional growth and
            leadership skills.
          </li>
        </ol>
      </div>
    </TimeLineElement>
    <TimeLineElement
      title="Ninety Percent of Everything, Kyiv – Team Lead"
      subtitle="JANUARY 2020 – SEPTEMBER 2020"
    >
      <ol class="list-decimal pb-6 pl-8">
        <li>
          Led a cross-functional team with five engineers
        </li>
        <li>
          Implemented from scratch four products
        </li>
        <li>
          Migrated two products from Flow to TypeScript
        </li>
        <li>
          Reviewed and accepted technical tasks inside the sprint
        </li>
        <li>
          Provided an input regarding designs and implementation strategies
        </li>
      </ol>
    </TimeLineElement>
    <TimeLineElement
      title="Ciklum - Ninety Percent of Everything, Kyiv – Senior Frontend Developer"
      subtitle="JANUARY 2019  – JANUARY 2020"
    >
      <p class="pb-6">
        Created web applications based on micro-frontend architecture concepts using TypeScript, Flow, React,
        Apollo GraphQL, styled-components, and tested with Jest
      </p>
    </TimeLineElement>
    <TimeLineElement
      title="Playtech, Kyiv – Frontend Team Lead"
      subtitle="MAY 2017 – JANUARY 2019"
    >
      <p>
        Playtech, the world’s largest supplier of online gaming solutions, developed and managed games featuring
        live video streaming.
      </p>
      <ol class="list-decimal pb-6 pl-8">
        <li>Led a front-end development team of five engineers</li>
        <li>
          Implemented development processes such as code review and technical documentation
        </li>
          <li>
            Played one of the critical roles in the agile process during grooming, planning, and retrospective
          </li>
          <li>
            Created six live games for various platforms, such as desktop, mobile, and tablets using TypeScript,
            ReactJS, MobX, RxJS, BEM, and less. We used a Mobile-First Approach.
          </li>
      </ol>
    </TimeLineElement>

    <TimeLineElement
      title="Playtech, Kyiv – Frontend Engineer"
      subtitle="JANUARY 2016 – MAY 2017"
    >
      <p class="pb-6">
        Created live games (games with a live web stream) designed as SPA, using AngularJS 1.3, socket.io,
        Underscore.js, BEM, etc. Used Mobile First Approach.
      </p>
    </TimeLineElement>

    <TimeLineElement
      title="eFarmer, Kyiv – Frontend Engineer"
      subtitle="JULY 2015 – JANUARY 2016"
    >
      <p>
        Creation of web Application using AngularJS 1.3 framework, Angular
        Materials, Grunt, REST API, OpenLayers 3.
      </p>
    </TimeLineElement>

    <div class="mb-5 mt-10">
      <div class="text-3xl w-full font-bold">Education</div>
    </div>

    <div class="time-line-container grid gap-4 mb-10">
      <TimeLineElement
        title="National Aviation University, Kyiv – Bachelor &  Master degree"
        subtitle="SEPTEMBER 2011 – JUNE 2016"
      >
        Information Security Management
      </TimeLineElement>
      <TimeLineElement
        title="IT academy SoftServe, Kyiv"
        subtitle="FEBRUARY 2015 – MAY 2015"
      >
        Internship in IT academy, creating a product from scratch - admin panel
        application with REST architecture for entering in LNU university. Based
        on AngularJS framework, used Grunt, Underscore, D3.js, and Bootstrap for
        development.
      </TimeLineElement>
    </div>

    <div class="mb-5">
      <div class="text-3xl w-full font-bold">Certifications</div>
    </div>

    <ul class="list-disc mx-6 mb-10 grid gap-2">
      <li>
        <a
          href="https://drive.google.com/file/d/1-iMWclHTgMN_4eAC6808a_uNgwPq5Jqz/view"
          target="_blank">Advanced Management Training</a
        >
      </li>
      <li>
        <a
          href="https://learn.javascript.ru/courses/typescript-20180906/dariagorchylina/en/certificate.jpg"
          target="_blank">TypeScript</a
        >
      </li>
      <li>
        <a
          href="https://university.mongodb.com/course_completion/829a5c7adef24d6a8bff7170a51eb965"
          target="_blank">MongoDB for Node.js Developers</a
        >
      </li>
    </ul>

    <div class="mb-5">
      <div class="text-3xl w-full font-bold">Skills</div>
    </div>

    <ul class="list-disc md:columns-5 columns-2 mx-6">
      <li>System design</li>
      <li>Project management</li>
      <li>Typescript</li>
      <li>Javascript</li>
      <li>ReactJS</li>
      <li>GraphQL</li>
      <li>Apollo Client</li>
      <li>Grafana</li>
      <li>Sentry</li>
      <li>Jest</li>
      <li>React Testing Library</li>
      <li>GIT</li>
      <li>NodeJS</li>
      <li>MongoDB</li>
    </ul>
  </div>
</BaseLayout>
