---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
//import { fetchArticles } from "../lib/getArticles";

//const posts = (await fetchArticles()).sort(
//  (a, b) => b.data.published_at.valueOf() - a.data.published_at.valueOf()
//);

//const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Daria Gorchylina</div>
    <div class="text-3xl py-3 font-bold">Engineering manager | Technical Lead Manager</div>
    <div class="py-2 pb-2">
      <text class="text-lg">
        I empower organisations to achieve business growth and success by adhering to the highest industry technical
        standards. My expertise lies in developing scalable, maintainable, and user-centric products that consistently
        meet and exceed industry benchmarks for quality and performance.

      </text>
    </div>
    <div class="py-2">
      <text class="text-lg">
        I am committed to providing a transparent technical vision to support product development. Collaboratively,
        we will identify and deploy the most appropriate technologies and frameworks to realise product ideas with
        enhanced efficiency⚡️
      </text>
    </div>
    <div class="mt-8">
      <a
        class="btn"
        href="https://www.linkedin.com/in/dariagorchylina/"
        target="_blank"
      >
        Let's connect!</a
      >
      <!-- <a
        href=""
        target="_blank"
        class="btn btn-outline ml-5"
      >
        Smth else
      </a> -->
    </div>
  </div>

  <!-- <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Demo Project 1"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 2"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  />
   -->

  <!--
  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.title}
          img={post.heroImage}
          desc={post.description}
          url={"/blog/" + post.slug}
          target="_self"
          badge={post.cover_image}
        />
        <div class="divider my-0" />
      </>
    ))
  }
  -->
</BaseLayout>
